@charset "utf-8";
/* CSS Document */
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900";
$secondary:#A85CF9;
$white:#FFFFFF;
$txtShadow:rgba(0,0,0,.01) 0 0 1px;
$black:#000;
* {
	margin: 0;
	padding: 0;
	text-shadow: $txtShadow;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: $white;
	color: $black;
}
div {
	display: block;
	position: relative;
	box-sizing: border-box;
}
ul {
	list-style: none;
	margin-bottom: 0px;
}
p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
	color: #828282;
	text-shadow: $txtShadow;
	a {
		display: inline;
		position: relative;
		color: inherit;
		border-bottom: solid 1px $secondary;
		transition: all 200ms ease;
		&:active {
			position: relative;
			color: $secondary;
		}
		&:hover {
			color: $white;
			background: $secondary;
			&::after {
				opacity: 0.2;
			}
		}
	}
}
a {
	text-decoration: none;
	text-shadow: $txtShadow;
	&:hover {
		text-decoration: none;
		text-shadow: $txtShadow;
	}
	&:visited {
		text-decoration: none;
		text-shadow: $txtShadow;
	}
	&:active {
		text-decoration: none;
		text-shadow: $txtShadow;
	}
	&:link {
		text-decoration: none;
		text-shadow: $txtShadow;
	}
}
h1 {
	font-size: 48px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-shadow: $txtShadow;
}
h2 {
	font-size: 36px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-shadow: $txtShadow;
}
h3 {
	font-size: 24px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-shadow: $txtShadow;
}
h4 {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-shadow: $txtShadow;
}
h5 {
	font-size: 14px;
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-shadow: $txtShadow;
}
h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	text-shadow: $txtShadow;
}
.form-control {
	color: $secondary;
}
section {
	display: block;
	position: relative;
	box-sizing: border-box;
}
select {
	display: inline;
	border: 0;
	width: auto;
	margin-left: 10px;
	outline: none;
	border-bottom: 2px solid #555;
	color: $secondary;
	transition: all .4s ease-in-out;
	&:hover {
		cursor: pointer;
	}
	option {
		border: 0;
		border-bottom: 1px solid #555;
		padding: 10px;

	}
}
.clear {
	clear: both;
}
.clearfix {
	&::before {
		content: "";
		display: table;
	}
	&::after {
		content: "";
		display: table;
		clear: both;
	}
	zoom: 1;
}
.super_container {
	width: 100%;
	overflow: hidden;
}
.header {
	position: relative;
	width: 100%;
	z-index: 10;
}
.top_bar {
	width: 100%;
	height: 56px;
	background: #fafafa;
	border-bottom: solid 1px rgba(0,0,0,0.04);
	z-index: 2;
}
.top_bar_main{
	width: 100%;
	height: 70px;
	background: $white;
	border-top: solid 1px rgba(0,0,0,0.04);
	padding: 1.5rem 0;
	margin-bottom: 2rem;
}
.top_bar_contact {
	display: inline-block;
}
.top_bar_contact_item {
	font-size: 16px;
	font-weight: 300;
	line-height: 56px;
	margin-right: 40px;
	&:not(:first-child) {
		margin-right: 0px;
	}
	a {
		font-size: 16px;
		font-weight: 300;
		line-height: 56px;
		color: $black;
		transition: all 200ms ease;
		&:hover {
			color: #8a8a8a;
		}
	}
	&:last-child {
		margin-right: 0px;
	}
}
.top_bar_icon {
	display: inline-block;
	margin-right: 14px;
	transform: translateY(-2px);
}
.top_bar_menu {
	display: inline-block;
	cursor: pointer;
	a{
		font-size: 14px;
		font-weight: 300;
		line-height: 56px;
		color: $black;
		transition: all 200ms ease;
		&:hover {
			color: $secondary;
		}
	}
	span{
		font-size: 19px;
	}
}
.top_bar_dropdown {
	li {
		padding-left: 13px;
		padding-right: 13px;
	}
}
.standard_dropdown {
	li {
		display: inline-block;
		position: relative;
		height: 56px;
		li {
			display: block;
			width: 100%;
			a {
				display: block;
				width: 100%;
				border-bottom: solid 1px #f2f2f2;
				font-size: 16px;
			}
		}
		&:last-child {
			a {
				border-bottom: none;
			}
		}
		a {
			display: block;
			position: relative;
			font-size: 16px;
			font-weight: 300;
			color: $black;
			line-height: 56px;
			white-space: nowrap;
			transition: all 200ms ease;
			&:hover {
				color: $secondary;
			}
			i {
				display: none;
				transform: translateY(-1px);
				font-size: 12px;
			}
		}
		ul {
			display: block;
			position: absolute;
			top: 120%;
			left: 0;
			width: auto;
			visibility: hidden;
			opacity: 0;
			background: $white;
			box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
			transition: all 0.3s ease;
			z-index: 1;
		}
		&:hover {
			>ul {
				top: 100%;
				visibility: visible;
				opacity: 1;
			}
		}
	}

	}
	ul {
		ul {
			left: 100%;
			top: 0 !important;
		}
	}
.top_bar_user {
	display: inline-block;
	margin-left: 35px;
	margin-right: 8px;
	div {
		display: inline-block;
		&:nth-child(2) {
			margin-right: 21px;
			&::after {
				display: block;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: -13px;
				width: 1px;
				height: 17px;
				background: rgba(0,0,0,0.1);
				content: '';
			}
		}
	}
	a {
		font-size: 14px;
		font-weight: 300;
		line-height: 56px;
		color: $black;
		transition: all 200ms ease;
		&:hover {
			color: $secondary;
		}
	}
}
.user_icon {
	display: inline-block;
	margin-right: 7px;
	width: 15px;
	cursor: pointer;
}
.header_main {
	z-index: 1;
}
.header_main_item {
	top: 50%;
	transform: translateY(-50%);
}
.logo_container {
	height: 80px;
}
.logo {
	top: 50%;
	transform: translateY(-50%);
	a {
		font-size: 36px;
		font-weight: 500;
		color: $secondary !important;
	}&:hover{
		color:$secondary !important;
	}
}
li .img{
	width: 20px;
	height: 20px;
	margin: 8px 8px 0 0;
}
.isActive{
	color: $secondary !important;
}

.header_search {
	height: 90px;
}
.header_search_content {
	top: 50%;
	transform: translateY(-50%);
}
.header_search_form_container {
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
}
.header_search_form {
	width: 100%;
	height: 100%;
}
.header_search_input {
	display: block;
	position: relative;
	width: calc((100% - 50px) * 0.601);
	height: 100%;
	line-height: 50px;
	border: none !important;
	outline: none !important;
	padding-left: 26px;
	color: #7f7f7f;
	float: left;
	&::input-placeholder {
		font-size: 16px !important;
		font-weight: 300;
		line-height: 50px;
		color: #8a8a8a !important;
	}
}
.custom_dropdown {
	width: calc((100% - 50px) * 0.399);
	height: 50px;
	float: left;
	padding-left: 26px;
	margin-left: 10px;
	&::before {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		width: 1px;
		height: 28px;
		background: #e5e5e5;
		content: '';
	}
}
.custom_dropdown_list {
	i {
		display: inline-block;
		color: #a3a3a3;
		font-size: 10px;
		margin-left: 3px;
		transform: translateY(-1px);
	}
}
.custom_dropdown_placeholder {
	display: inline-block;
	font-size: 16px;
	font-weight: 300;
	color: #a3a3a3;
	line-height: 48px;
	cursor: pointer;
	margin-right: 5px;
}
.custom_list {
	text-align: left;
	position: absolute;
	padding: 0;
	top: 75px;
	left: -15px;
	visibility: hidden;
	opacity: 0;
	box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
	transition: all 0.2s ease;
	li {
		height: 35px;
		padding-left: 15px;
		padding-right: 15px;
		background: $white;
		a {
			display: block;
			color: #a3a3a3;
			line-height: 35px;
			border-bottom: solid 1px #ededed;
			transition: all 200ms ease;
			&:hover {
				color: $secondary !important;
			}
		}
	}
}
.custom_list.active {
	visibility: visible;
	opacity: 1;
	top: 50px;
	box-shadow: 0 0 25px rgba(63, 78, 100, 0.15);
	transition: all 0.3s ease;
}
.header_search_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 100%;
	background: $secondary;
	border: none;
	outline: none;
	cursor: pointer;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.search-input{
	color: $white;
	margin-top: 10px;
}
.heart_cart {
	height: 90px;
}
.heart {
	margin-right: 24px;
	.cart_count {
		position: absolute;
		bottom: -1px;
		right: -14px;
		width: 23px;
		height: 23px;
		background: $secondary;
		border-radius: 50%;
		text-align: center;
		span {
			display: block;
			line-height: 23px;
			font-size: 12px;
			color: $white;
			transform: translateY(1px);
		}
	}
}
.heart_icon {
	img {
		width: 100%;
	}
}
.heart_content {
	margin-left: 14px;
}
.heart_text {
	a {
		font-size: 18px;
		font-weight: 400;
		color: $black;
		transition: all 200ms ease;
		&:hover {
			color: $secondary;
		}
	}
}
.heart_count {
	margin-top: -2px;
	color: #a3a3a3;
	font-size: 14px;
}
.cart{
	margin: 0 4px;
}
.cart_count {
	position: absolute;
	bottom: -3px;
	right: -12px;
	width: 23px;
	height: 23px;
	background: $secondary;
	border-radius: 50%;
	text-align: center;
	span {
		display: block;
		line-height: 23px;
		font-size: 12px;
		color: $white;
	}
}
.cart_icon {
	img {
		width: 100%;
	}
}
.cart_content {
	margin-left: 20px;
}
.cart_text {
	a {
		font-size: 18px;
		font-weight: 400;
		color: $black;
		transition: all 200ms ease;
		&:hover {
			color: $secondary;
		}
	}
}
.cart_price {
	font-size: 14px;
	color: $white;
	margin-top: -2px;
	background-color: $secondary;
	border-radius: 12px;
	padding: 4px 6px;
	margin: 0 3px;
	cursor: pointer;
}
.main_nav {
	width: 100%;
	border-top: solid 1px #f2f2f2;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
	background: $white;
}
.main_nav_content {
	width: 100%;
	height: 60px;
	.mr-2{
		margin-right: 12px;
	}
}
.main_nav_dropdown {
	li {
		margin: 0 16px;
		margin-left: 8px;
		&:last-child {
			margin-right: 0px;
		}
		a {
			font-size: 18px;
			font-weight: 400;
			color: #a19a9a;
			line-height: 60px;
		}
		li {
			padding-left: 10px;
			padding-right: 10px;
			margin-right: 0px;
		}
	}
}
.menu_trigger_container {
	display: none;
	width: auto;
	height: 100%;
	padding-right: 25px;
	padding-left: 25px;
	cursor: pointer;
}
.menu_trigger {
	height: 100%;
}
.menu_burger_inner {
	display: inline-block;
	span{
		color:$white;
		cursor: pointer;
	}
}
.menu_trigger_text {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: $white;
	text-transform: uppercase;
	margin-right: 16px;
}
@media (min-width: 1100px) {
	.container {
		max-width: 1200px !important;
	}
}
@media only screen and (max-width: 1175px) {
	.main_nav_dropdown {
		li {
			margin-right: 15px;
			a {
				font-size: 16px;
			}
		}
	}
	.main_nav_content {
		background: $secondary;
	}
	.menu_trigger_container {
		display: block;
	}
	.main_nav {
		margin-top: 56px;
	}
	.main_nav_menu {
		display: none;
	}
}
@media only screen and (max-width: 991px) {
	.header_search {
		height: 50px;
	}
	.custom_dropdown {
		text-align: left;
	}
	.logo_container {
		height: 125px;
	}
	.heart_cart {
		height: 125px;
	}
	.top_bar {
		height: 40px;
	}
	.top_bar_contact_item {
		font-size: 12px;
		margin-right: 20px;
		line-height: 40px;
		a {
			font-size: 12px;
			line-height: 40px;
		}
	}
	.top_bar_icon {
		margin-right: 4px;
		img {
			width: 70%;
		}
	}
	.top_bar_menu {
		display: none;
	}
	.top_bar_user {
		a {
			font-size: 12px;
			line-height: 40px;
		}
	}
	.user_icon {
		transform: translateY(-1px);
		width: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.header_search {
		display: none;
	}
	.main_nav {
		margin-top: 0px;
	}
}
@media only screen and (max-width: 575px) {
	h2 {
		font-size: 24px;
	}
	p {
		font-size: 13px;
	}
	.top_bar {
		display: none;
	}
	.logo_container {
		height: 72px;
	}
	.heart_cart {
		height: 72px;
	}
	.logo {
		a {
			font-size: 24px;
		}
	}
	.menu_trigger_text {
		font-size: 13px;
		margin-right: 10px;
	}
	.heart {
		margin-right: 8px;
	}
	.heart_content {
		margin-left: 6px;
	}
	.heart_text {
		display: none;
		a {
			font-size: 14px;
		}
	}
	.cart_text {
		display: none;
		a {
			font-size: 14px;
		}
	}
	.heart_count {
		font-size: 12px;
	}
	.cart_price {
		background-color: $secondary;
		font-size: 16px;
		color:$white;
		border-radius: 12px;
		padding: 3px;
		margin: 3px 2px 0 4px;
		cursor: pointer;
	}
	.heart_icon {
		width: 20px;
	}
	.cart_content {
		margin-left: 18px;
	}
	.cart_icon {
		width: 32px;
	}
	.cart_count {
		width: 23px;
		height: 23px;
		span {
			line-height: 23px;
		}
	}
	.top_bar_user {
		margin-left: 0px;
	}
	.header_search {
		display: none;
	}
	.main_nav {
		width: calc(100% + 30px);
		margin-left: -15px;
		margin-right: -15px;
		margin-top: 0px;
	}
	.main_nav_content {
		height: 35px;
	}
	.menu_trigger_container {
		padding-right: 15px;
	}
}
